<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>


        <main>
            <div>
                <form action="/animals" method="post">
                    <fieldset>
                        <legend>Create a New Animal</legend>
                        <label>
                          NAME:<input
                            type="text"
                            name="name"
                            placeholder="enter animal name"
                          />
                        </label>
                        <label>
                          REGION:<input
                            type="text"
                            name="region"
                            placeholder="enter animal region"
                          />
                        </label>
                        <label>
                          EXTINCT:<input type="checkbox" name="EXTINCT" <%=
                          animal.extinct ? "checked" : "" %> 
                          />
                        </label>
                        <label>
                          LIFE EXPECTANCY:<input
                            type="number"
                            name="lifeExpectancy"
                            placeholder="enter life expectancy"
                            />
                        </label>
                    </fieldset>
                    <input type="submit" value="create new animal" />
                  </form>
                </div>
              </main>
            </body>
          </html>    

            </div>
        </main>
    </body>
</html>